/* Importa gli stili di Slick Carousel */
@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";

/* Stili di base di Tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Stili personalizzati */
html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-montserrat);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-cormorant-garamond);
}